    <h2>Register</h2>
    <form enctype="multipart/form-data" action="/register/author" method="POST">
        <div>
            <label for="email_address">Email Address: </label>
            <input type="text" name="email_address" />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" />
        </div>
        <div>
            <label for="password_confirm">Password Confirmation: </label>
            <input type="password" name="password_confirm" />
        </div>
        <div>
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name" />
        </div>
        <div>
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" />
        </div>
        <div>
            <input type="submit" name="submit" value="Register" />
        </div>
    </form>
