{% block menu %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/author/login">Login as Author</a></li>
        <li><a href="/commentator/login">Login as Commentator</a></li>
        <li><a href="/author/register">Register as Author</a></li>
        <li><a href="/commentator/register">Register as Commentator</a></li>
    </ul>
{% endblock menu %}