<html>
<head>
    <title>
        {%  block sub_title '' %} {%  block title 'BasicBlog' %}
    </title>
</head>
<body>
<h1>BasicBlog</h1>
{% block body %}
    Welcome to BasicBlog.
{% endblock %}
</body>
</html>