<html>
<head>
    <title>
        {%  block sub_title '' %} {%  block title 'BasicBlog' %}
    </title>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ app.request.basepath }}/theme/style.css" />
    {% endblock stylesheets %}
</head>
<body>
{% block body %}
    {% block menu %}
        {% include 'sections/menu.twig' %}
    {% endblock menu %}
    <h1>BasicBlog</h1>
    {% block content %}
        Welcome to BasicBlog.
    {% endblock content %}
{% endblock body %}
</body>
</html>